
<h2> Add a new fancy Cocktail</h2>


<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file, direct_upload: true %>
  <!-- <%= f.association :doses %> -->
  <!-- <%= f.input :ingredients, collection:Ingredient.all %> -->
  <!-- <%= f.association :ingredients%> -->
  <%= f.button :submit, 'Add this new cocktail' %>
<% end %>
