
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4 card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill%>')" >
		</div>
		<div class="col-xs-12 col-md-4 card card-show">
			<h1><%= @cocktail.name %></h1>
			<ul> 
				<% @cocktail.doses.each do |dose| %>
				<li><%= dose.description %>
				<%= dose.ingredient.name %>
				<%= link_to "/cocktail", method: "delete", data: { confirm: 'Are you sure?' } do %>
                   <i class="fas fa-trash-alt"></i>
                <% end %>
				</li>
				<% end %>
			</ul>
			<div class="card-btn">
			  <%= link_to 'Add a new dose to my cocktail', new_cocktail_dose_path(@cocktail) %>
              <%= link_to ' / Back', cocktails_path %>	
			</div>
		</div>
		
	</div>
</div>
