<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-wagon">
      <div class="navbar-wagon-brand">
        <a class="logo" href="/cocktails"><i class="fas fa-cocktail"></i> COCKTAIL PARADISE</a>
      </div>
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <%= link_to " + Add a cocktail", new_cocktail_path, :class => "navbar-wagon-link" %>
      </div>
        
    </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/irwintsay/tom-cruise-omdb"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/tipsybartender/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/groups/1857840891102431/"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/search?q=tom%20cruise%20barman&src=typed_query"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/tom-cruise-86276b146/"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with
        <%= link_to "https://youtu.be/XZsiY9S4WpI" do %>
           <i class="fas fa-heart"></i>
        <% end %>
        at Le Wagon
      </div>
    </div>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    
  </body>
</html>
